@font-face {
  font-family: 'myFont';
  src:  url('./HYZhuZiTongNianTiW.woff') format('woff'),
        url('./HYZhuZiTongNianTiW.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.hello {
  font-family: 'myFont';
  color: rgb(238, 255, 0);
  background-image: url('./xm.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}